/* Styles for the Input React component */
.input {
  width: 280px;
}

.input .MuiInput-underline:after {
  border-color: darkslategray;
}

.input .MuiFormLabel-root,
.input .MuiFormLabel-root.Mui-focused {
  color: darkslategray;
}
