.accountContainer {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.backgroundImageContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.backgroundImageContainer > img {
  width: 100%;
  height: 100%;
  border: 0px;
}

.profileContainer {
    background-color: rgba(255, 255, 255, 0.8);
    width: 65%;
    /* margin-left: 15%;
    margin-right: 15%; */
    /* margin-top: 50px; */
    margin-bottom: 50px;
    min-height: 400px;
    /* border-top-left-radius: 3%; */
    /* border-top-right-radius: 3%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    float: left;
}

.leftSideBar {
    /* margin-left: 8%;
    margin-right: 4%; */
    margin-top: 70px;
    margin-bottom: 70px;
    width: 300px;
    min-width: 200px;
    /* float: left; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatarImageContainer {
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    /* width: 250px; */
    height: 250px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.avatarImage {
    width: 250px;
    height: 250px;
    /* border-radius: 50%; */
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.rightSideBar {
    width: 50%;
    margin-right: 8%;
    margin-top: 70px;
    margin-bottom: 70px;
}

.userInfoBar p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.username {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.gamerText {
    color: gray;
}

.usernameText {
    font-size: 35px;
}

.iconContainer {
    display: flex;
    align-items: center;
    margin-left: 5px;

}

.countsContainer {
    display: flex;
    justify-content: flex-start;
}

.likes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 20px;
}

.userBioContainer {
    max-height: 400px;
}

.userBioContainer p {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.activityContainer {
    background-color: rgba(255, 255, 255, 0.8);
    width: 65%;
    /* margin-left: 15%;
    margin-right: 15%; */
    /* margin-bottom: 50px; */
    min-height: 500px;
    /* border-bottom-left-radius: 3%; */
    /* border-bottom-right-radius: 3%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    float: left;
}

.sideBarContainer {
    width: 30%;
    height: 1000px;
    background-color: rgba(255, 255, 255, 0.8);
    float: right;
}
