.SignUpForm {
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 50px 50px 40px 40px;
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.SignUpText {
    padding-top: 30px;
}


.MasterContainer {
    background-image: url("../../imgs/LoginSignupImg/loginback.jpg");
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
