/* Styles for the StudentForm React component */

.user-form {
  justify-content: center;
}

.user-form .MuiGrid-root {
  text-align: center;
}

.MuiButton-root.user-form__submit-button {
  background-color: #457474;
}

.user-form__button-grid {
  line-height: 5;
}
