.GameShowCaseContainer {
    min-height: 350px;
    background-color: black;
    width: 90%;
    margin-top: -5px;
    padding-left: 5%;
    padding-right: 5%;
}

.GameCategoryName {
    overflow-wrap: break-word;
    color: whitesmoke;
    font-weight: bolder;
    position: relative;
    float: left;
    padding: 5% 30px 30px 30px;
    width: 30%;
    font-size: xx-large;
}

.GameCategoryDescription {
    color: whitesmoke;
    font-weight: bold;
    position: absolute;
    float: left;
    /*padding-left: 30px;*/
    padding-top: 5%;
    font-size: large;
}

.GameCategorySmallCarousel {
    position: relative;
    float: left;
    padding-top: 40px;
    padding-left: 5%;
    /*padding-top: 30px;*/
    /*padding-left: 30px;*/
    width: 55%;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 57%;

    display: block;

    width: 20px;
    height: 0;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.ThumbNailImage {
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    height: 200px;
    width: auto;
    /*object-fit: contain;*/
}


.ClickableImage {
    margin-top: 50px;
}