#GameOverviewBlock {
    float: left;
    width: 100%;
    height: 76vh;
    /*background: linear-gradient(color-stop(50%, white), color-stop(100%,rgba(0,0,0,0)));*/
    background: -webkit-radial-gradient(50% 10%, white, rgba(255,255,255,0.7));
    /**/
    /*background-image: url("../../imgs/the_witcher_3_wild_hunt/background.jpg");*/
    /*background-size: cover;*/
}

.MuiExpansionPanelDetails-root{
    display: block !important;
}

#GameOverviewBlockBackground{
    float: left;
    margin-left: 8%;
    width: 84%;
    min-height: 64vh;
    background-image: url("../../imgs/the_witcher_3_wild_hunt/background.jpg");
    background-size: cover;
    /*if background image not able*/
    background-color: #555555;
}

#GameName {
    margin-left: 4%;
    font-size: 30px;
    line-height: 50px;
    text-overflow: ellipsis;
}

#GameInfo {
    float:left;
    font-size: 80%;
    width: 38%;
    line-height: 22px;
    display: block;
    overflow: hidden;
}

#GameImage {
    width: 99.3%;
    border-radius: 4px;
    margin-left: 2px;
}

.DotsPreviewImage {
    float: left;
    margin-left: 3.5%;
    margin-top: 50px;
    width: 100%;
    border-radius: 4px;
}

.slick-dots li{
    display: inline-block;
    width: 24.2%;
    margin: 0.4%;
    cursor: pointer;
}

#SliderBlock {
    width: 60%;
    float: left;
    margin-left:8px;
}

#GameDescription {
    margin-left: 10%;
    margin-top: 8%;
    line-height: 25px;
    margin-right: 8%;
}

#GameReviewsBlock {
    float:left;
    margin-top: 18%;
    margin-left: 20%;
    font-size: 16px;
 }

#GamePage {
    position: relative;
}

.GameReviewsRow{
    display: flex;
    /*text-align: center;*/
    /*line-height: 5px;*/
}

.GameReviews {
    min-width: 170px;
    color: #556772;
    text-transform: uppercase;
}

.GameReviewPersentage, .GameCompany {
    color: dodgerblue;
}

#ReviewBar{
    position: relative;
    float: left;
    margin-left: 8%;
    width: 84%;
    height: 10px;
}

.LongCommentContent{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    display: block;
    word-wrap: break-word;
}

.LikeButtons{
    text-align: center;
}

.expansion {
    margin-left: 15%;
}


.longCommentTitle{
    max-width: 70%;
    font-size: 22px;
    overflow: auto;
}

.longCommentRequest{
    font-size: 18px;
    color: darkgray;
    margin-top: 0;
    margin-bottom: 0;
}

#longCommentSubmissionButton{
    text-align: center;
}

.CommentBar{
    /*position: relative;*/
    /*float: left;*/
    /*width: 84%;*/
    /*margin-left: 8%;*/
}

.ExistingComments {
    float: left;
    width: 70%;
}

.NewCommentCard {
    float: right;
    width: 29.9%;
}

.YourCommentText {
    font-size: large;
    font-weight: bolder;
}

.NewCommentContainer {
    padding: 5% 10% 10%;
}

.SubmitShortCommentButton {
    position: relative;
    float: right;
}

.SpaceBetweenCommentAndSubmit {
    height: 5px;
}

.inline {
    display: inline;
}

.ShortCommentList {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.bestShortCommentContent{
    font-size: 20px;
    margin-top: 25%;
    font-style: italic;
    color: #556772;
}

.bestShortCommentAuthor{
    font-size: 18px;
    margin-top: 5%;
    float: right;
    color: #556772;
}