.accountContainer {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.backgroundImageContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.backgroundImageContainer > img {
  width: 100%;
  height: 100%;
  border: 0px;
}

.profileContainer {
    background-color: rgba(255, 255, 255, 1);
    width: 65%;
    margin-bottom: 50px;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    float: left;
}

.leftSideBar {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 300px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatarImageContainer {
    height: 250px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.avatarImage {
    width: 250px;
    height: 250px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.rightSideBar {
    width: 50%;
    margin-right: 8%;
    margin-top: 70px;
    margin-bottom: 70px;
}

.userInfoBar p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.username {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.gamerText {
    color: gray;
}

.usernameText {
    font-size: 35px;
}

.iconContainer {
    display: flex;
    align-items: center;
    margin-left: 5px;

}

.countsContainer {
    display: flex;
    justify-content: flex-start;
}

.likes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 20px;
}

.userBioContainer {
    max-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.userBioContainer p {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    width: 80%;
}

.activityContainer {
    background-color: rgba(255, 255, 255, 0.8);
    width: 65%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    float: left;
}

.recentLikes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.recentLike {
    width: 120px;
    height: 200px;
    margin: 20px;
}

.recentLike img {
    width: 120px;
    height: 160px;
}

.recentReview {
    border-bottom: 1px solid gray;
}

.recentReviewTime {
    font-size: 15px;
    color: gray;
}

.recentReviewText {
    font-size: 15px;
}

.recentReviewGame {
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.recentReviewGame img {
    height: 120px;
    width: auto;
    margin: 20px;
}

.sideBarContainer {
    width: 30%;
    min-height: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    float: right;
}

.profileTagContainer {
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.profileTagContainer p {
    font-size: 15px;
    color: gray;
}

.gameTagContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.gameTagContainer p {
    font-size: 15px;
    color: gray;
}
